<div class="wrapper">
  <h1 class="text-center create-cocktail"> Créez votre cocktail </h1>
  <div class="cocktail-form">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4 form">
        <%= simple_form_for(@cocktail) do |f| %>
        <%= f.input :name, label: false, placeholder: "Cocktail name"  %>
        <%= f.submit class:"btn btn-primary" %>
        <p> dd</p>
      <% end %>
      </div>
    </div>
  </div>
</div>